<%- include partials/header.ejs -%>





<!-- Page header with logo and tagline-->
<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Blog Home!</h1>
            <p class="lead mb-0">"If you have knowledge, let others light their candles in it." ~ Margaret Fuller</p>
        </div>
    </div>
</header>
<!-- Page content-->


<div class="container">
        <!-- Blog entries-->
        <div class="row">

            <% arr.forEach(function(ele) {  %>
                <div class="col-lg-6">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="/posts/<%= ele._id %>"><img class="card-img-top" src=" <%= ele.imageurl %> " alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted"><%= ele.created.toDateString() %> </div>
                            <h2 class="card-title"><%= ele.title %> </h2>
                            <p class="card-text"><%- ele.content.substring(0,100) + " ..." %>  </p>
                            <a class="btn btn-dark" href="/posts/<%= ele._id %>">Read more →</a>
                        </div>
                    </div>
        
                </div>
           <% }) %>
        
        </div>
</div>



<%- include("partials/footer") -%>
