<%- include partials/header.ejs -%>


  <!-- Page content-->
  <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"> <%= post.title %></h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on <%= post.created.toDateString() %> by <%= post.authorname %> </div>
                    <!-- Post categories-->
                    <a class="btn btn-lg btn-dark download-btn" href="/posts/<%= post._id %>/edit"><i class="fi-xnsuxl-edit-solid"></i>  Edit</a>
                    
                    <form id="delete" action="/posts/<%=post._id %>?_method=Delete" method="POST">
                        <button class="btn btn-lg btn-dark"><i class="fi-xnsuxl-trash-bin"></i> Delete</button>
                    </form>
                    
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="<%= post.imageurl %>" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4"><%- post.content %> </p>
                </section>
            </article>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>